.service-icon {
    width: 90px;
    height: auto;
  }
  
  .btn.btn-outline-dark {
    font-weight: bold;
  }
  
  .btn.btn-outline-dark:hover {
    background-color: white !important;
    color: red !important;
    border-color: red !important;
    font-weight: bold;
  }
  